<app-page>
  <ng-container content>
    <nav class="bg-white shadow-md">
      <div
        class="container flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <div>
          <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap"
              >Store</span
            >
          </a>
        </div>
        <div class="flex gap-8">
          <div class="lg:w-96">
            <button
              type="button"
              data-collapse-toggle="navbar-search"
              aria-controls="navbar-search"
              aria-expanded="false"
              class="md:hidden text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
              <span class="sr-only">Search</span>
            </button>
            <div class="relative hidden md:block text-gray-500">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="sr-only">Search icon</span>
              </div>
              <input
                type="text"
                id="search-navbar"
                [(ngModel)]="searchValue"
                (ngModelChange)="onSearchChange()"
                placeholder="Search by category or name"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <button
              data-collapse-toggle="navbar-search"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="navbar-search"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="navbar-search"
          >
            <div class="relative mt-3 md:hidden">
              <input
                type="text"
                id="search-navbar"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Search..."
              />
            </div>
            <ul
              class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
            >
              <li>
                <a
                  routerLink="/products"
                  routerLinkActive="text-blue-700"
                  class="block py-2 px-3 bg-blue-700 rounded text-gray-900 md:hover:text-blue-700 md:bg-transparent md:p-0"
                  aria-current="page"
                  >Products</a
                >
              </li>
              <li>
                <a
                  routerLink="/cart"
                  routerLinkActive="text-blue-700"
                  class="block py-2 px-3 bg-blue-700 rounded text-gray-900 md:hover:text-blue-700 md:bg-transparent md:p-0"
                  >Cart</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section>
      <div class="container mx-auto px-4 py-12">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
          <h2
            class="font-manrope font-bold text-4xl text-black mb-8 max-lg:text-center"
          >
            Product list
          </h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-20">
            <div
              *ngFor="let product of products"
              class="flex flex-col justify-between"
            >
              <a
                href="javascript:;"
                class="min-h-96 mx-auto sm:mr-0 group cursor-pointer lg:mx-auto bg-white transition-all duration-500"
              >
                <img
                  src="{{ product.image }}"
                  alt="face cream image"
                  class="w-full aspect-square"
                />
                <div class="mt-5">
                  <div class="flex items-start justify-between">
                    <h6
                      class="max-h-24 overflow-hidden font-semibold text-xl leading-8 text-black transition-all duration-500 group-hover:text-indigo-600"
                    >
                      {{ product.title }}
                    </h6>
                    <h6 class="font-semibold text-xl leading-8 text-indigo-600">
                      {{ "$" + product.price }}
                    </h6>
                  </div>
                  <p class="my-4 font-normal text-sm leading-6 text-gray-500">
                    {{ product.category }}
                  </p>
                </div>
              </a>
              <div class="flex items-center justify-between">
                <button
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center me-2"
                >
                  <i class="fa-solid fa-cart-shopping pe-2"></i>
                  Add to cart
                </button>
                <button
                  type="button"
                  class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center me-2"
                >
                  Remove from cart
                </button>
              </div>
            </div>
          </div>
          <div
        *ngIf="products.length === 0"
        class="text-center text-3xl font-bold my-40"
      >
        <p>No prouducts found :(</p>
      </div>
        </div>
      </div>
    </section>
  </ng-container></app-page
>
