<app-page>
  <ng-container content>
    <app-header (searchChange)="handleSearchChange($event)"></app-header>
    <section>
      <div class="container mx-auto px-4 py-12">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
          <h2
            class="font-manrope font-bold text-4xl text-black mb-8 max-lg:text-center"
          >
            Product list
          </h2>
          <div
            *ngIf="!loading"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-20"
          >
            <div
              *ngFor="
                let product of products
                  | paginate : { itemsPerPage: 8, currentPage: p }
              "
              class="flex flex-col"
            >
              <app-product
                [product]="product"
                (addItem)="addToCart($event)"
                (removeItem)="removeFromCart($event)"
              ></app-product>
            </div>
          </div>
          <div class="mt-14">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
          <div *ngIf="!loading">
            <div
              *ngIf="products.length === 0"
              class="text-center text-3xl font-bold my-40"
            >
              <p>No product or category found :(</p>
            </div>
          </div>
          <div class="text-center w-full" *ngIf="loading">
            <app-spinner></app-spinner>
          </div>
        </div>
      </div>
    </section> </ng-container
></app-page>
